<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <title>jasmine test</title>
    <link href="http://cdn.bootcss.com/jasmine/2.5.2/jasmine.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jasmine/2.5.2/jasmine.min.js"></script>
    <script src="http://cdn.bootcss.com/jasmine/2.5.2/jasmine-html.min.js"></script>
    <script src="http://cdn.bootcss.com/jasmine/2.5.2/boot.min.js"></script>
</head>

<body>
    <h1>jasmine test</h1>
</body>
<script type="text/javascript" src="../lib/Container_.js"></script>
<script type="text/javascript" src="../lib/Container_CreateId.js"></script>
<script type="text/javascript" src="./test_Container_createid.js"></script>
</html>
